* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.0)),
                url(img/planetas-6514.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-family: 'Poppins';
    font-size: 5em;
}