* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url(img/planetas-6514.webp);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-left: 30%;
  width: 70%;
  color: white;
  font-size: 7.5em;
  text-shadow: 0px 0 10px black;
}

form {
  width: 25vw;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.0));
  height: 100vh;
  width: 40vw;
}

.triCont {
  border-top: 50vh solid transparent;
  border-bottom: 50vh solid transparent;
  border-right: 150px solid rgba(0, 0, 0, 0.9);
}

input {
  width: 100%;
  height: 4em;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  border-radius: 50px;
  border: none;
}

button {
  height: 50px;
  width: 49%;
  border: none;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  color: white;
  display: inline-block;
  border-radius: 50px;
  font-size: large;
}

button:hover {
  box-shadow: inset 0px 0px 20px 0px white;
}

.ask {
  width: 100%;
  display: block;
  margin-bottom: 1em;
}

a {
  display: block;
  text-decoration: none;
  color: white;
}

.button > a {
  padding: 0.5rem 2rem;
}