* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
 :root {
    --text-main: #FFF;
 }

body {
    font-family:'Open Sans', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.1)), url(img//eclipse.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

form {
    width: 60%;
}

fieldset {
    padding: 1em;
    white-space: nowrap;

}

.container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.boton {
    padding: .5em;
    border-radius: 20px;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: .5em;
}

.container input {
    border-radius: 3px;
}

header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
    color:var(--text-main);
    font-weight: 400;

}

.etiqueta {
    display: inline-block;
    width: 10ch;
    text-align: right;
    margin-bottom: .5rem;
    color:var(--text-main);
}

legend{
     color:var(--text-main);
}