* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url(img//eclipse.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  width: 60vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  position: relative;
  left: 25%;
  width: 40%;
  color: white;
  font-size: 7.5em;
  display: flex;
  text-align: right;
}

form {
  text-align: center;
}

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.10));
  height: 100vh;
  width: 40vw;
  margin-left: auto;
  background-size: cover;
  background-position: center;
}

input {
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 10px;
  border: none;
}

.button {
  background: linear-gradient(rgba(255, 255, 255, 0.185), rgba(255, 255, 255, 0));
  color: white;
  display: inline-block;
  border-radius: 15px;
}

.button:hover {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.185));
  color: turquoise;
  box-shadow: inset 0px 0px 20px 0px white;
}

.ask {
  margin-bottom: 1em;
}

a {
  display: block;
  text-decoration: none;
  color: white;
  white-space: nowrap;
  text-shadow: 0px 0px 5px white;
}

.button > a {
  padding: 0.5rem 2rem;
}

a:hover {
  color: turquoise;
}

.secContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.0));
  height: 15em;
  width: 30em;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}