* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.1)), url(img/background0.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  header {
    position: absolute;
    width: 100%;
    height: 20em;
    top: 5em;
    text-align: center;
  }
  
  h1 {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 5em;
  }

  h2 {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 2em;
  }

  form {
    text-align: center;
  }
  
  .Container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.3));
    height: 15em;
    width: 30em;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
  }
  
  input {
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 10px;
  }
  
  .button {
    background: linear-gradient(rgba(255, 255, 255, 0.185), rgba(255, 255, 255, 0));
    color: white;
    display: inline-block;
    border-radius: 15px;
  }
  
  .button:hover {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.185));
    color: turquoise;
    box-shadow: inset 0px 0px 20px 0px white;
  }
  
  .ask {
    margin-bottom: 1em;
  }
  
  a {
    display: block;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    text-shadow: 0px 0px 5px white;
  }
  
  .button > a {
    padding: 0.5rem 2rem;
  }
  
  a:hover {
    color: turquoise;
  }