* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: url(planetas-6514.webp);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-left: 30%;
  width: 70%;
  color: white;
  font-size: 7.5em;
  text-shadow: 0px 0 10px black;
}

form {
  width: 25vw;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.0));
  height: 100vh;
  width: 40vw;
}

.triCont {
  display: inline;
  position: relative;
  border-top: 50vh solid transparent;
  border-bottom: 50vh solid transparent;
  border-right: 150px solid rgba(0, 0, 0, 0.9);
}

input {
  width: 100%;
  height: 4em;
  margin-bottom: 1em;
  padding: 0.5em 2em;
  border-radius: 50px;
  border: none;
}

input:hover {
  border: 1px solid black;
}

button {
  height: 50px;
  width: 49%;
  border: none;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  color: white;
  display: inline-block;
  border-radius: 50px;
  font-size: large;
}

button:hover, .inputlabel:hover, .cerrar:hover {
  box-shadow: inset 0px 0px 20px 0px white;
  cursor: pointer;
}

.ask {
  width: 100%;
  display: block;
  margin-bottom: 1em;
}

.log {
  text-decoration: none;
}

.button > a {
  padding: 0.5rem 2rem;
}

#activar {
  display: none;
}

.inputlabel {
  display: inline-block;
  padding: 14px 65px;
  border: none;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  color: white;
  border-radius: 50px;
  font-size: large;
}

/* #activar ~ .inputlabel:before {content: "ABRIR"} */
.desplegable {
  position: absolute;
  right: 0;
  top: 0;
  transition: 1s;
}

#activar ~ .desplegable {
  display: flex;
  position: absolute;
  width: 0;
  overflow: hidden;
  background-image: linear-gradient(to right, rgba(0, 160, 160, 0.9), rgba(0, 0, 0, 0.0));
  color: #fff;
  transition: 1s;
}

.triCont2 {
  display: inline;
  position: relative;
  border-top: 50vh solid transparent;
  border-bottom: 50vh solid transparent;
  border-right: 150px solid rgba(0, 160, 160, 0.9);
}

#activar:checked ~ .desplegable {
  width: 38vw;
  height: 100vh;
}

/* #activar:checked ~ .inputlabel:before {content: "CERRAR"} */

.accept {
  text-align: left;
  color: white;
  margin-bottom: 1em;
}

.accept > input {
  width: 5%;
  height: 1em;
  margin-bottom: 0;
  display: inline-flex;
}

a {
  color: white;
}

.button > a {
  padding: 0.5rem 2rem;
}

.cerrar {
  background: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  color: white;
  border-radius: 50px;
  font-size: large;
  top: 2em;
  right: 2em;
}